<h1><%= @animal.name %></h1>
<ul>
  <li><%= @animal.species%></li>
  <% if @animal.sex == "female" %>
    <li>👧</li>
  <% elsif @animal.sex == "male" %>
    <li>👱‍♂️</li>
  <% else %>
    <li>🧛‍♂️</li>
  <% end %>
</ul>

<%= link_to "delete #{@animal.name}☹️", animal_path(@animal), method: :delete, data: { confirm: "Are you sure?"} %>
